[data-theme="Insite theme"] {
    --primary-color: rgb(250, 212, 39);
    --primary-text-color: rgb(0, 0, 0);
    --secondary-color: rgb(79, 67, 15);
    --secondary-text-color: rgb(255, 255, 255);
  }